.notespage {
    height: 80vh;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
}